<!DOCTYPE html>

<meta charset="utf-8" />
<title></title>
<link href="../../Content/forms.min.css" rel="stylesheet" />
<link href="../../Content/StyleSheet_Main.css" rel="stylesheet" />
<link href="../../Content/app.css" rel="stylesheet" />
<div class="wrapper">
    <div class="content">
        <span id="menu_pointer" class="hidden menu_pointer"></span>
        <div id="main">
            <!-- ngView:  --><div id="main-content" class="main-content repsly-fade ng-scope" data-ng-view="" style="">
                <style type="text/css" class="ng-binding ng-scope">
                    @import url("/frontend-app/dist/css/products.min.css?67");
                </style>

             
                <div class="view-content clearfix ng-scope" ng-show="pageLoaded" style="">
                    <div class="view-content-head clearfix">
                        <h1 class="page-head products" id="report-header">
                            <i class="icon icon-product"></i>
                            <span class="header-main ng-binding" id="NazivLabel">New product</span><span class="header-sub"></span>
                        </h1>
                    </div>
                    <div class="actions_header clearfix">
                        <ul class="tabs">
                            <li class="view-tab details ui-corner-top product ng-binding current" ng-class="{current: productTab}" type="details" ng-click="showHideTab('product')" style="">Product info</li>
                            <li class="view-tab card ui-corner-top product ng-binding" type="card" ng-class="{current: !productTab}" ng-click="showHideTab('report')" style="">Report</li>
                        </ul>
                    </div>
                    <div id="product-edit-container" ng-show="productTab" type="details-container" class="details_edit clearfix" style="">

                        <div class="import-mapper-message initial-hidden ng-binding" id="product-price-zero-hint" style="margin:10px">Products that have price 0 will not be available on orders, but will be available on retail audits. If you need this product on an order, assign a price to it.</div>

                        <div class="left_bar flat">
                            <div class="form_container clearleft basic-info product">
                                <div class="form-grid" title="Product name. This is a required field.">
                                    <div class="unit w-2-5">
                                        <div for="Name" class="label ng-binding">Name:</div>
                                        <input type="text" id="Naziv" ng-model="data.Naziv" ng-class="{'border_red': !isNameValid}" class="name  border-edit rounded required_field ng-pristine ng-untouched ng-valid">
                                    </div>
                                    <div class="unit w-2-5" title="Product ID, this is ID used for all inserts and updates. This is a required field.">
                                        <div ng-hide="isQuickBooksConnected" class="">
                                            <div for="Code" class="label ng-binding">ID:</div>
                                            <input type="text" id="Sifra" ng-model="data.Sifra" ng-class="{'border_red': !isCodeValid}" class="code border-edit rounded required_field  ng-pristine ng-untouched ng-valid" placeholder="...">
                                        </div>
                                    </div>
                                    <div class="unit w-1-5 aktivan" title="Determines if the product is available or not. Deactivating a product is similar to moving it to trash. This is not required field.">
                                        <span class="isActiveCheckbox afterInput rounded" type="">
                                            <input type="checkbox" ng-model="data.Aktivan" id="Aktivan" class="ng-pristine ng-untouched ng-valid">
                                            <label for="Aktivan" class="ng-binding">active product</label>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-grid">
                                    <div class="unit w-2-5" title="EAN">
                                        <div for="EAN" class="label ng-binding">EAN:</div>
                                        <input type="text" id="EAN" class="code border-edit rounded ng-pristine ng-untouched ng-valid" ng-model="data.EAN" placeholder="...">
                                    </div>
                                    <div class="unit w-2-5 price" title="Product price. If not provided or is zero, then the product will not be available on orders. This is not required field.">
                                        <div for="Price" class="label ng-binding">
                                            Default price:
                                            <!-- ngIf: hasMultiplePriceLists --><span ng-show="productId" class="pricelist-editor-link ng-binding ng-scope ng-hide" ng-if="hasMultiplePriceLists" ng-click="openPricelistEditor()" style="">Price on other price list</span><!-- end ngIf: hasMultiplePriceLists -->
                                        </div>
                                        <input type="text" id="OsnovicaCijena" force-numeric="" update="productUpdated" ng-model="data.OsnovicaCijenaFormatted" class="money border-edit rounded ng-pristine ng-untouched ng-valid ng-isolate-scope" placeholder="...">
                                    </div>
                                </div>
                                <div class="form-grid">
                                    <div class="unit w-1-1">
                                        <div for="Note" class="label ng-binding">Note:</div>
                                        <textarea id="Napomena" class="border-edit ng-pristine ng-untouched ng-valid" placeholder="..." rows="5" cols="80" ng-model="data.Napomena"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right_bar flat">
                            <div class="clearfix">
                                <div class="actions clearfix">
                                    <input type="button" id="btnSave" value="Save" class="button_save rounded" ng-click="saveProduct()">
                                    <span id="Reload" class="lnkCancel ng-binding" ng-click="discardChanges()">Discard</span>
                                </div>
                            </div>
                        </div>
                        <div class="left_bar flat">
                            <!--@* SET ZA GRUPE PROIZVODA *@-->
                            <div class="form_container product-group-container" title="Product group. All products in Repsly need to be assigned to a group. Repsly supports one level of groupping, no more.">
                                <div class="title ng-binding">Product group</div>
                                <!-- ngIf: usesProducts --><span ng-if="usesProducts" id="CustomizeGroups" class="customize ng-binding ng-scope" ng-click="openProductGroupEditor()" style="">Customize</span><!-- end ngIf: usesProducts -->

                                <select class="medium border rounded required_field ng-pristine ng-valid ng-touched" id="ProizvodGrupaID" ng-options="group as group.Code + ' - ' + group.Val for group in groups track by group.ID" ng-model="productGroupSelect" ng-change="switchProductGroup(productGroupSelect)" style=""><option label="Consumer Goods - Consumer Goods" value="63297" selected="selected">Consumer Goods - Consumer Goods</option><option label="Free Samples - Free Samples" value="63298">Free Samples - Free Samples</option><option label="Shoes - Shoes" value="63299">Shoes - Shoes</option><option label="toothpaste - paste" value="68521">toothpaste - paste</option></select>
                            </div>

                            <!-- ngIf: usesProductTags --><div ng-if="usesProductTags" class="form_container tags-wrapper second ng-scope" title="Tags on a product separated with comma. For example &quot;New place, Big store, Promotion&quot;. This field is not required." style="">
                                <div class="title ng-binding">Tags</div>
                                <div class="tags-container PROIZVOD clearfix" tagtype="PROIZVOD" isreadonly="false">
                                    <ul class="tag-list rounded border clearfix" ng-click="openTagEditor()">
                                        <!-- ngRepeat: tag in assignedProductTags -->
                                    </ul>
                                    <span class="tags-trigger icon-tags rounded ng-binding" ng-click="openTagEditor()">Add tags</span>
                                </div>
                            </div><!-- end ngIf: usesProductTags -->

                            <div class="form_container packages ng-hide" ng-show="productId">
                                <div class="title ng-binding">
                                    Package types
                                    <span class="packages-trigger icon-tags rounded ng-binding" ng-click="openPackagesEditor()">Add more package types</span>
                                </div>
                                <div class="packages-container">
                                    <ul class="packages-list rounded border clearfix" ng-click="openPackagesEditor()">
                                        <!-- ngRepeat: item in productPackages -->
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="right_bar flat">
                            <div class="right_bar flat">
                                <div class="help-container" style="margin-top: 30px;">
                                    <span class="coach-sprite icon icon-info"></span>
                                    <div class="title ng-binding">Tags</div>
                                    <div class="help-box ng-binding">
                                        Use tags to label products in separate groups. Products can be filtered by tags to help you narrow your search.
                                    </div>
                                    <div class="bottom"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right_bar flat">
                        </div>
                    </div>
                    <!-- OVO JE CONTAINER ZA KARTICU - IDE PREKO -->
                    <div id="card-view" type="card-container" ng-show="!productTab" class="details_content clearfix ng-hide" style="">
                        <div class="left_bar">
                            <div class="product-filter-container filter_padding filter ng-isolate-scope" ng-show="isLoaded" render-view="renderProductReport(filter)" filter-type="product-single-report" style="">
                                <ul class="header-filter product-single-report">
                                    <!-- Activities dropdown -- BEGIN -->
                                    <!-- ngIf: filters.activity.rendered -->
                                    <!-- Activities dropdown -- END -->

                                    <li ng-show="filters.dateRange.visible" class="range-wrapper chunk" title="Use this period picker to select period you're observing.">
                                        <!-- ngIf: filters.dateBegin.rendered --><input id="dateBegin" type="text" class="date_picker rounded border ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope hasDatepicker" date-picker="" on-select="datePicked()" ng-if="filters.dateBegin.rendered" ng-model="filters.dateBegin.value" on-enter="renderViewTrigger()"><!-- end ngIf: filters.dateBegin.rendered --> -
                                        <!-- ngIf: filters.dateEnd.rendered --><input id="dateEnd" type="text" class="date_picker rounded border ng-pristine ng-untouched ng-valid ng-scope ng-isolate-scope hasDatepicker" date-picker="" on-select="datePicked()" ng-if="filters.dateEnd.rendered" ng-model="filters.dateEnd.value" on-enter="renderViewTrigger()"><!-- end ngIf: filters.dateEnd.rendered -->
                                    </li>
                                    <!-- ngIf: filters.dateRange.rendered -->
                                    <li class="chunk no-left-margin ng-scope" ng-if="filters.dateRange.rendered">
                                        <div class="daterange-filter ui-corner-all" ng-class="{'opened':showRangeFilters}">
                                            <span id="rn-range-picker-arrow" class="daterange-filter-overlay" title="Use some predefined date range" ng-click="toggleRangeFilters($event)"></span>
                                            <span class="clip ng-hide" ng-show="showRangeFilters"></span>
                                            <ul ng-show="showRangeFilters" class="range-container ui-corner-bottom ui-corner-tr ng-hide" click-outside="toggleRangeFilters()">
                                                <li ng-click="setRangeTrigger(range.today.key); toggleRangeFilters($event)" id="rn-range-picker-today" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.today.key}">Today</li>
                                                <li ng-click="setRangeTrigger(range.yesterday.key); toggleRangeFilters($event)" id="rn-range-picker-yesterday" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.yesterday.key}">Yesterday</li>
                                                <li class="delimiter"></li>
                                                <li ng-click="setRangeTrigger(range.thisWeek.key); toggleRangeFilters($event)" id="rn-range-picker-this-week" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.thisWeek.key}">This week</li>
                                                <li ng-click="setRangeTrigger(range.lastWeek.key); toggleRangeFilters($event)" id="rn-range-picker-last-week" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.lastWeek.key}">Last week</li>
                                                <li class="delimiter"></li>
                                                <li ng-click="setRangeTrigger(range.thisMonth.key); toggleRangeFilters($event)" id="rn-range-picker-this-month" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.thisMonth.key}">This month</li>
                                                <li ng-click="setRangeTrigger(range.lastMonth.key); toggleRangeFilters($event)" id="rn-range-picker-last-month" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.lastMonth.key}">Last month</li>
                                                <li class="delimiter"></li>
                                                <li ng-click="setRangeTrigger(range.thisYear.key); toggleRangeFilters($event)" id="rn-range-picker-this-year" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.thisYear.key}">This year</li>
                                                <li ng-click="setRangeTrigger(range.lastYear.key); toggleRangeFilters($event)" id="rn-range-picker-last-year" class="rounded ng-binding" ng-class="{'selected': savedFilters.TimeFrame === range.lastYear.key}">Last year</li>
                                                <!-- ngIf: useNoDateSpecified -->
                                                <!-- ngIf: useNoDateSpecified -->
                                            </ul>
                                        </div>
                                    </li><!-- end ngIf: filters.dateRange.rendered -->
                                    <li class="drop chunk no-left-margin ng-hide" ng-show="filters.showAdditionalFilters">
                                        <a ng-click="openMoreFilters($event)" id="rn-more-filters-trigger" class="more-filters-link ng-binding" href="#" title="Add more filters">Add more filters</a>
                                        <div ng-show="showMoreFilters" class="more-filters-container initial-hidden ng-hide">
                                            <span class="menu_pointer"></span>
                                            <span id="rn-add-more-filters-close" class="close" ng-click="cancelSelection($event)"></span>
                                            <ul class="drop_content">
                                                <li ng-show="filters.placeStatuses &amp;&amp; filterType.indexOf('place') > -1" class="filter-type-wrapper territory-wrapper ng-hide" title="Filter places by their current status">
                                                    <h3 class="ng-binding"><i class="icon icon-clientstatuschange"></i> Filter places by their current status</h3>
                                                    <select id="StatusPodjelaGrupaID" class="rounded border ng-pristine ng-untouched ng-valid" ng-options="status as status.Val for status in placeStatuses track by status.ID" ng-model="selectedStatus"><option value="" class="" selected="selected">-</option></select>
                                                </li>
                                                <li ng-show="filters.representative &amp;&amp; filters.representative.repsList.length > 1" class="filter-type-wrapper reps-wrapper ng-hide" title="Select particular rep or choose to see all reps.">
                                                    <h3 class="putnik ng-binding"><i class="icon icon-representative"></i> Filter by representative</h3>
                                                    <select id="reps-select" class="rounded border ng-pristine ng-untouched ng-valid" ng-options="rep.Naziv for rep in filters.representative.repsList | orderBy: '-Aktivan' track by rep.PutnikID" ng-model="selectedRep"><option value="" class="" selected="selected">-</option></select>
                                                </li>
                                                <!-- ngIf: filters.place -->
                                                <!-- ngIf: filters.tags -->
                                                <li ng-show="filters.placeExtraInfoFilter" class="filter-type-wrapper ng-hide">
                                                    <h3 class="ng-binding"><i class="icon icon-clientnotes"></i> Filter places by additional attributes</h3>
                                                    <select class="rounded border ng-pristine ng-untouched ng-valid" id="ClientExtraInfoCode" ng-options="attribute as attribute.GroupName + '.' + attribute.Field  for attribute in filters.placeExtraInfoFilter.list track by attribute.RowId" ng-model="selectedAttribute" ng-change="showCustomAttributeFieldValue(selectedAttribute)"><option value="" class="ng-binding" selected="selected">-- Choose additional attribute --</option></select>
                                                    <div class="cascade">
                                                        <select ng-show="selectedAttributeOptions.length > 0" class="cascade-filter rounded border ng-pristine ng-untouched ng-valid ng-hide" id="ClientExtraInfoValue" ng-options="fieldOption as fieldOption.Value for fieldOption in selectedAttributeOptions track by fieldOption.Key" ng-model="selectedAttributeOption"><option value="?" selected="selected"></option></select>
                                                        <input ng-show="extraCodeValue !== undefined &amp;&amp; extraCodeValue !== null" ng-model="extraCodeValue" type="text" class="cascade-filter rounded border ng-pristine ng-untouched ng-valid ng-hide" id="ClientExtraInfoValue" placeholder="Write exact value">
                                                    </div>
                                                </li>
                                                <li ng-show="filters.includeInactive &amp;&amp; filterType.indexOf('place') > -1" class="filter-type-wrapper ng-hide">
                                                    <h3 class="inline ng-binding" for="includeInactive">Include inactive places</h3>
                                                    <input type="checkbox" class="filter-data border rounded ng-pristine ng-untouched ng-valid" ng-model="includeInactive" id="includeInactive" name="includeInactive" title="Include inactive places">
                                                </li>
                                                <li ng-show="filters.territory &amp;&amp; useTerritoryManagement" class="filter-type-wrapper territory-wrapper ng-hide" title="Select particular territory or choose to see all territories.">
                                                    <h3 class="poslovnaJedinica">
                                                        <i class="icon icon-teritorymanagement"></i>
                                                        <!-- ngIf: filterType == 'representative-list' -->
                                                        <!-- ngIf: filterType != 'representative-list' --><span ng-if="filterType != 'representative-list'" class="ng-binding ng-scope">Filter by territory</span><!-- end ngIf: filterType != 'representative-list' -->
                                                    </h3>
                                                    <select class="rounded border ng-pristine ng-untouched ng-valid" ng-options="territory as territory.Naziv for territory in filters.territory.territoriesList track by territory.PoslovnaJedinicaID" ng-model="selectedTerritory"><!-- ngIf: !isTerritoryRestricted --><option ng-if="!isTerritoryRestricted" value="" class="ng-scope">-</option><!-- end ngIf: !isTerritoryRestricted --></select>
                                                </li>
                                                <!-- ngIf: filters.photoTags -->
                                                <!-- ngIf: filters.singleFormFilter && showFilterByFormQuestion -->
                                                <li class="filter-actions-wrapper">
                                                    <button ng-click="applySelectedFilters($event); renderViewTrigger();" id="rn-add-this-filter" class="button ng-binding">Add this filter</button>
                                                    <button ng-click="cancelSelection()" id="rn-add-more-filters-cancel" class="button cancel ng-binding">Cancel</button>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                    <li class="chunk no-left-margin">
                                        <!-- ngIf: filters.applyButton.rendered --><button id="rn-home-apply-button" class="filters-apply rounded ng-binding ng-scope" title="Refresh screen according to filter selection." ng-if="filters.applyButton.rendered" ng-click="renderViewTrigger()">
                                            Apply
                                        </button><!-- end ngIf: filters.applyButton.rendered -->
                                    </li>
                                    <!-- ngIf: filterType == 'home' || filterType == 'summary' -->
                                    <!-- ngIf: filters.showExportButton -->
                                    <!-- ngIf: filters.showButtonEmailReport -->
                                </ul>
                                <ul ng-show="renderAdditionalFilters &amp;&amp; selectedAdditionalFilters.length > 0" class="additional-filter-list-container ng-hide">
                                    <!-- ngRepeat: filter in selectedAdditionalFilters -->
                                </ul>
                            </div>
                            <div id="product-card-container">
                                <div>
                                    <h3 class="ng-binding">Product Summary</h3>
                                    <ul class="activities">

                                        <li>
                                            <span class="activity ng-binding">Reps</span>
                                            <span id="UkLokacija" class="value ng-binding"></span>
                                            <span class="description ng-binding">Total number of reps using this product.</span>
                                        </li>

                                        <li>
                                            <span class="activity ng-binding"></span>
                                            <span id="UkLokacija" class="value ng-binding"></span>
                                            <span class="description ng-binding">Total number of places using this product.</span>
                                        </li>
                                        <li>
                                            <span class="activity ng-binding">Documents</span>
                                            <span id="UkLokacija" class="value ng-binding"></span>
                                            <span class="description ng-binding">Total number of sales documents that use this product.</span>
                                        </li>
                                        <li>
                                            <span class="activity ng-binding">Total</span>
                                            <span id="UkLokacija" class="value ng-binding"></span>
                                            <span class="description ng-binding">Total money handled by orders.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="right_bar">
                            <div class="help-container" style="margin-top: 100px;">
                                <span class="coach-sprite icon icon-info"></span>
                                <div class="title ng-binding">Work results</div>
                                <div class="help-box ng-binding">
                                    The following data shows how many activities were done in the selected time period.
                                </div>
                                <div class="bottom"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Shared elements stuff-->
            <!-- ngInclude: '/frontend-app/src/common/views/common-elements.html' --><div data-ng-include="'/frontend-app/src/common/views/common-elements.html'" class="ng-scope">

                <div id="success-alert" class="alert alert-success hidden ng-scope">
                    <a href="#" class="close" aria-label="close">×</a>
                    <span id="alert-message"></span>
                </div>






                <div id="message-box" class="hidden ng-scope"></div>


                <div id="requestDemoCloner" class="hidden ng-binding ng-scope">
                    Message:
                    <br>
                    <textarea cols="30" rows="5" class="ng-binding rounded border">Hi! I would like to have Repsly Coaching Session.</textarea>
                </div>














                <script type="text/x-jquery-tmpl" id="tmpl-coach-item" class="ng-scope">
                    {{if IsLive}}
                    <tr>
                        <td class="datetime">${LocalDate}<span class="subtitle">${LocalTime}</span></td>
                        {{else}}
                    <tr class="recorded">
                        <td class="datetime">{{dictionary.CoachRecordedSession}}</td>
                        {{/if}}

                        <td>${Title}<span class="subtitle">({{dictionary.CoachCoachName}}: ${Author})</span></td>
                        <td>${DurationMin} min</td>
                        {{if IsLive}}
                        <td class="action"><a href="${Url}" target="_blank" class="webinar-link">{{dictionary.CoachSignUp}}</a></td>
                        {{else}}
                        <td class="action"><a href="${Url}" target="_blank" class="youtube-link">{{dictionary.CoachViewNow}}</a></td>
                        {{/if}}
                    </tr>
                </script>
                <script type="text/x-jquery-tmpl" id="tmpl-additional-filter-item" class="ng-scope">
                    <li class="${cssClass}" entity="${entity}" type="${type}" valueid="${id}" labelvalue="${label}">
                        ${label}
                        {{if extra!= null && extra!=""}}
                        <div class="subtext">${extra}</div>
                        {{/if}}
                    </li>
                </script>
                <script type="text/x-jquery-tmpl" id="tmpl-additional-filter-result" class="ng-scope">
                    <li class="${cssClass} add-filter-item" entity="${entity}" type="${type}" valueid="${id}" label="${label}" id="${htmlid}"><span class="label">${label}</span><span class="remove"><span></li>
                </script>
                <script type="text/x-jquery-tmpl" id="tmpl-DeleteSampleData" class="ng-scope">
                    <div class="delete-sample-data">
                        <h2 class="warning">{{dictionary.DeleteSampleDataTitle}}</h2>
                        <p class="explanation">{{dictionary.DeleteSampleDataExplanation}}</p>
                        <ul>
                            <li class="bullet active">{{dictionary.Clients}}</li>
                            <li class="bullet active">{{dictionary.SummaryActivities}} & {{dictionary.Documents | lowercase}}</li>
                            <li class="bullet active">{{dictionary.Announcements}}</li>
                            <li ng-if="usesForms" class="bullet active">{{dictionary.Forms}}</li>
                            <li ng-if="isProductsAvailable" class="bullet active">{{dictionary.Products}}</li>
                        </ul>

                        <p class="trialRed">
                            {{dictionary.TrialDel}}
                            <br /><br />{{dictionary.TrialDelInstructions}} :
                        </p>
                        <input id="delTrial" type="text" />
                    </div>
                </script>

                <script type="text/x-jquery-tmpl" id="tmpl-tag" class="ng-scope">
                    <li class="tag-list-item" id="" valueid="${value}"><input type="checkbox" id="check_${value}" valueid="${value}" class="tag-list-result" /><label for="check_${value}">${label}</label></li>
                </script>
                <!-- jquery template for paging -->
                <script type="text/x-jquery-tmpl" id="tmpl-paging" class="ng-scope">
                    <div class="table_footer">
                        <div class="grid_info">${ShowingInfo}</div>
                        <div class="paging">
                            <span id="rn-paging-prev" href="#" class="prev pager" page=${Previous}>{{dictionary.Previous}}</span>
                            <span id="rn-paging-next" href="#" class="next pager" page=${Next}>{{dictionary.Next}}</span>
                        </div>
                    </div>
                </script>
                <!-- jquery template for quick search -->
                <script type="text/x-jquery-tmpl" id="tmpl-quicksearch-row" class="ng-scope">
                    <li class=""><a href="${link}">${label}</a></li>
                </script>
            </div>
        </div>
        <footer></footer>
        <div id="autoResizeTextareaCopy" style="box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box; -webkit-box-sizing: border-box; visibility: hidden;"></div>
    </div>
</div>