<!-- <div class="animate">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header card-info card-inverse">
                    <h3 class="card-title">Add Product</h3>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center">{{ category }}</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-block">
                    <form name="addProductForm" novalidate class="form-horizontal">
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Name
                              <span class="text-danger">*</span>
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Product Name" name="product_name" class="form-control" ng-model="addProduct.product_name" required>
                            <div class="error-message padding-right" ng-show="addProductForm.product_name.$invalid && !addProductForm.product_name.$pristine">Enter Product Name</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Price
                              <span class="text-danger">*</span>
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Price" name="product_price" class="form-control" ng-model="addProduct.product_price" required>
                            <div class="error-message padding-right" ng-show="addProductForm.product_price.$invalid && !addProductForm.product_price.$pristine">Enter Price</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Brand
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Product Brand" name="product_brand" class="form-control" ng-model="addProduct.product_brand">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Weight
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Product Weight" name="product_weight" class="form-control" ng-model="addProduct.product_weight">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Size
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Enter size with comma separated values like M,S,XL" name="product_size" ng-list class="form-control" ng-model="addProduct.product_size">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Color
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Enter color with comma separated values like Blue,Red" name="product_color" ng-list class="form-control" ng-model="addProduct.product_color">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Type
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Enter type with comma separated values like cotton,fabric" name="product_type" ng-list class="form-control" ng-model="addProduct.product_type">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Quantity
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <input type="text" placeholder="Product Quantity" name="product_quantity" class="form-control" ng-model="addProduct.product_quantity">
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Description
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <textarea type="text" rows="3" placeholder="Description" name="product_description" class="form-control" ng-model="addProduct.product_description"></textarea>
                            <div class="error-message padding-right" ng-show="addProductForm.product_description.$invalid && !addProductForm.product_description.$pristine">Enter Product Description</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Technical Description
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <textarea type="text" rows="3" placeholder="Technical Description" name="product_technical_description" class="form-control" ng-model="addProduct.product_technical_description"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">Material Description
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <textarea type="text" rows="3" placeholder="Material Description" name="product_material_description" class="form-control" ng-model="addProduct.product_material_description"></textarea>
                          </div>
                      </div>

                      <div ng-hide="addProduct.image_url" class="form-group margin-top">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">
                                Upload Main Image 
                              <span class="text-danger">*</span>
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <button class="btn btn-primary" ngf-select="uploadPhoto($file)" accept="image/*">Upload
                                <span>
                                    <i style="padding-left:6px;" class="fa fa-cloud-upload"></i>
                                </span>
                            </button>
                        </div>
                      </div>
                      <div class="row margin-top" ng-show ="addProduct.image_url">
                        <div class="hidden-sm hidden-xs col-md-5"></div>
                        <div class="col-md-7">
                          <div style="    width: 36%;margin-bottom: 20px;margin-right: 40px;float: left;">
                            <img height="170" width="170" src="{{addProduct.image_url}}" class="thumb">
                            <i ng-click="removeChoice(addProduct.image_url)" style="margin-top: 65px;font-size: 27px;cursor:pointer;" class="close pull-right fa fa-times"></i>
                          </div>
                        </div>
                      </div>
                      <div class="form-group margin-top">
                          <label class="hidden-sm hidden-xs col-md-5 control-label">
                                Upload Product Images 
                              <span class="text-danger">*</span>
                          </label>
                          <div class="col-xs-12 col-sm-12 col-md-5">
                            <button class="btn btn-primary" ngf-select="uploadPhotos($files)" multiple accept="image/*">Upload
                                <span>
                                    <i style="padding-left:6px;" class="fa fa-cloud-upload"></i>
                                </span>
                            </button>
                        </div>
                      </div>
                      <div class="row">
                        <div class="margin-top col-md-offset-2 col-md-3 col-sm-12 col-xs-12" ng-repeat="image_path in addProduct.product_images track by $index">
                          <div>
                            <img height="170" width="170" src="{{image_path}}" class="thumb">
                            <i ng-click="removeChoices($index)" style="margin-top: 65px;font-size: 27px;cursor:pointer;" class="close pull-right fa fa-times"></i>
                          </div>
                        </div>
                      </div>

                      <div class="form-group text-right">
                          <button class="btn btn-success margin-right" type="submit" ng-disabled="addProductForm.$invalid || !addProduct.image_url" ng-click="addNewProduct(addProduct)">Submit
                              <span>
                                  <i style="padding-left:6px;" class="fa fa-upload"></i>
                              </span>
                          </button>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="content animate">
            <span id="menu_pointer" class="hidden menu_pointer"></span>
            <div id="main">
                






<div class="rep-card-main">
<div class="view-content clearfix">
    <div class="view-content-head clearfix">
        <h1 class="page-head reps" id="report-header">
         <i class="icon icon-representative"></i>
            <span class="header-sub pull-right">
                <a id="EMailLabel" class="email_label block"></a>
                <a id="PhoneLabel" class="phone_label block"></a>
            </span>
            <span class="header-main" id="NazivLabel">New representative</span>
        </h1>
        <div class="actions">
        </div>
    </div>
    <div class="actions_header clearfix" style=" height: 60px; ">
        <ul class="tabs disabled">
            <li class="view-tab details ui-corner-top current" type="details" style="border-radius: 6px 6px 0px 0px;">Representative info</li>
            <li class="view-tab card ui-corner-top disabled" type="card" style="border-radius: 6px 6px 0px 0px;">Report</li>
            
            <li class="view-tab visitplan ui-corner-top disabled" type="visitplan" style="border-radius: 6px 6px 0px 0px;">Schedule</li>
            
        </ul>
    </div>
    <div id="representative-edit-container" type="details-container" class="details_edit display-sheet clearfix" style="">
        <input type="hidden" id="IDPutnik" class="rounded border">
        <input type="hidden" id="GuIDPutnik" value="00000000-0000-0000-0000-000000000000" class="rounded border">
        <input type="hidden" id="Naziv" value="" class="rounded border">
        <div class="left_bar flat" style="">
            <div class="form_container clearleft basic-info putnik">
                <div class="avatar_float">
                    <div class="avatar-container mini_rep">
                        <img id="AvatarPreview" class="avatar-image rounded" type="putnik" width="160" height="160" src="img/no_avatar_putnik.png">
                        <form id="AvatarForm" method="post" class="avatar-upload-form ng-pristine ng-valid" enctype="multipart/form-data" action="/Files/AvatarTempUpload">
                            <span class="change">Change picture<input type="file" id="AvatarFile" name="AvatarFile" accept="image/*" class="rounded border"></span>
                        </form>
                        <div class="avatar-image-loader" style="display: none;">
                        </div>
                        <input type="hidden" id="IsInitialAvatar" class="rounded border" value="true">
                    </div>
                </div>
                <div class="basic_float">
                    <div class="form-grid">
                        <div class="unit w-3-5">
                            <div for="Name" class="label first">Name:</div>
                            <input type="text" id="NazivEdit" class="name border-edit rounded required_field " placeholder="">
                            <input type="hidden" id="NazivOld" class="rounded border">
                        </div>
                        <div class="unit w-2-5">
                            <div for="Code" class="label">ID:</div>
                            <input type="text" id="Sifra" class="code border-edit rounded required_field " placeholder="...">
                        </div>

                    </div>
                    <div class="form-grid">
                        <div class="unit w-1-2">
                            <div for="Phone" class="label">Phone:</div>
                            <input type="text" id="Telefon" class="phone border-edit rounded">
                        </div>
                        <div class="unit w-1-2">
                            <div for="EMail" class="label">Email:</div>
                            <input type="text" id="EMail" class="email border-edit rounded">
                        </div>
                    </div>
                    <div class="form-grid">
                        

                       
                        
                        <div class="unit w-2-5">
                            <div for="Jezik" class="label">Language:</div>
                            <select id="Jezik" class="code border-edit rounded">
                                <option value="en">English</option>
                                <option value="es">Español</option>
                                <option value="ru">Pусский</option>
    
                                <option value="hr">Hrvatski</option>
    
                                <option value="cs">Ceski</option>
    
                                <option value="pt">Portuguęs</option>
    
                                <option value="fr">Français</option>
   
                                <option value="de">Deutsch</option>

                               
                                   <option value="pl">Polski</option>

                               
                                   <option value="sl">Slovenščina</option>
                            </select>
                        </div>

                            <div class="unit w-2-5">
                                <div for="PoslovnaJedinicaID" class="label">Territory:</div>
                                <select id="PoslovnaJedinicaID" class="territory border-edit rounded"><option value="">-</option></select>
                            </div>


                            <div class="unit w-1-5">
                            <span class="isActiveCheckbox afterInput rounded" type="">
                                <input type="checkbox" id="Aktivan" class="" checked="checked">
                                <label for="Aktivan">active rep</label></span>
                            </div>
                        </div>
                    </div>
                </div>
           
            <div class="form_container clearleft">
                <div class="title">Activation data</div>
                <div class="form_row">
                    <label for="tbPerson" class="inline">
                        Company ID:</label>
                    <input type="text" readonly="readonly" class="medium border-edit rounded" value="coronatech">
                </div>
                <div class="form_row">
                    <label for="tbPerson" class="inline">
                        User ID:</label>
                    <input type="text" id="Username" class="medium border-edit rounded required_field">
                </div>
                <div class="form_row">
                    <label for="tbEmail" class="inline">
                        Password:</label>
                    <input type="text" id="Password" class="medium border-edit rounded required_field" value="767163">
                </div>
                    <a href="#" id="GetApp" class="getapp_link" onclick="API.Design.downloadApp.show()" style="display: none;">Connect mobile app</a>
            </div>
            <div class="form_container second">
                <div class="title">Note</div>
                <textarea id="Napomena" class="note border-edit rounded" rows="5" cols=""></textarea>
            </div>
        </div>
        <div class="right_bar flat">
            <div class="clearfix">
                <div class="actions clearfix">
                    <input type="button" id="btnSave" value="Save" class="button_save rounded">
                    <span id="Reload" class="lnkCancel" style="display: none;">Discard</span>
                </div>
            </div>
            <div class="help-container" style="margin-top: 190px;">
        <span class="coach-sprite icon icon-info"></span>
                <div class="title">Activation data</div>
                <div class="help-box">
                    Use Company ID, User ID and Password to log the representative into the Repsly mobile app.
                </div>
        <div class="bottom"></div>
            </div>
        </div>
    </div>
    <div id="card-view" type="card-container" class="details_content clearfix display-sheet" style="display: none;">
            <div class="full-content">
            <div class="filter rounded full-width-centered">
            <input id="Period" type="hidden" value="h" class="filter-data rounded border">
                <div class="range-wrapper">
                    
<input id="DateBegin" type="text" class="date_picker datebegin rounded border filter-data hasDatepicker" value="9/25/2017"> - <input id="DateEnd" type="text" class="date_picker dateend rounded border filter-data hasDatepicker" value="9/25/2017"> 
<span class="range-picker ui-corner-all">
<span id="rn-range-picker-arrow" class="range-picker-overlay" title="Use some predefined date range"></span>
<div class="range-container ui-corner-bottom ui-corner-tr" style="display: none;">
<ul class="">
    <li id="rn-range-picker-today" class="range rounded" db="9/25/2017" de="9/25/2017">Today</li>
    <li id="rn-range-picker-yesterday" class="range rounded" db="9/24/2017" de="9/24/2017">Yesterday</li>
    <li class="delimiter"></li>
    <li id="rn-range-picker-this-week" class="range rounded" db="9/25/2017" de="9/25/2017">This week</li>
    <li id="rn-range-picker-last-week" class="range rounded" db="9/18/2017" de="9/24/2017">Last week</li>
    <li class="delimiter"></li>
    <li id="rn-range-picker-this-month" class="range rounded" db="9/1/2017" de="9/25/2017">This month</li>
    <li id="rn-range-picker-last-month" class="range rounded" db="8/1/2017" de="8/31/2017">Last month</li>
    <li class="delimiter"></li>
    <li id="rn-range-picker-this-year" class="range rounded" db="1/1/2017" de="9/25/2017">This year</li>
    <li id="rn-range-picker-last-year" class="range rounded" db="1/1/2016" de="12/31/2016">Last year</li>
</ul>
<span class="clip"></span>
</div>
</span>

<li id="AdditionalFiltersWrapper" class="filter-item drop" style="margin-left: 5px; margin-right: 5px;">
    <a id="rn-additional-filters-trigger" href="#" class="megadrop more-filters" tipsy="true" title="">Add more filters</a>
    <div id="AdditionalFilters" class="mega_content mega_home align_right" style="display: none;">
        <ul class="drop_content">
            <li class="in-megadrop">
                <h3 class="">Filter representatives by territory</h3>
                <select class="filter-data border rounded" datatype="PoslovnaJedinicaID" id="PoslovnaJedinicaID"><option value="">-</option></select>
            </li>
        </ul>
    </div>
 </li>




<span id="rn-daterange-submit" class="daterange-submit filter-style standalone rounded">Apply</span>

                </div>
            </div>
        <div id="representative-card-container">
        </div>
        </div>
        <!-- <div class="right_bar">
            <div class="help-container" style="margin-top: 100px;">
        <span class="coach-sprite icon icon-info"></span>
                <div class="title">24 Hours view</div>
                <div class="help-box">
                    The graph shows the distribution of rep's work throughout the day. It helps you identify periods with higher or lower field activity.
                </div>
        <div class="bottom"></div>
            </div>
            <div class="help-container" style="margin-top: 80px;">
                <span class="coach-sprite icon icon-info"></span>
                <div class="title">Work results</div>
                <div class="help-box">
                    The following data shows how many activities were done in the selected time period.
                </div>
        <div class="bottom"></div>
            </div>
        </div> -->
        
    </div>
    <div id="representative-calendar-container" type="calendar-container" class="fullcalendar clearfix display-sheet" style="display: none;">
        




<script type="text/javascript">

var UseScheduling = true;
var VisitScheduleCalendarEntity = '';
var urlPutnikNoAvatar = 'Content/img/no_avatar_putnik.png';
var hasScheduleRole = 'True' == 'True' ? true : false;
var quickSearchUri = '/home/quicksearchvp';

var dayIDs = [
    'sun',
    'mon',
    'tue',
    'wed',
    'thu',
    'fri',
    'sat'
];

var dayName = {
    Monday: 'monday',
    Tuesday: 'tuesday',
    Wednesday: 'wednesday',
    Thursday: 'thursday',
    Friday: 'friday',
    Saturday: 'saturday',
    Sunday: 'sunday'
};

var monthIDs = [
    API.Functions.capitalizeFirstLetter('january'),
    API.Functions.capitalizeFirstLetter('february'),
    API.Functions.capitalizeFirstLetter('march'),
    API.Functions.capitalizeFirstLetter('april'),
    API.Functions.capitalizeFirstLetter('may'),
    API.Functions.capitalizeFirstLetter('june'),
    API.Functions.capitalizeFirstLetter('july'),
    API.Functions.capitalizeFirstLetter('august'),
    API.Functions.capitalizeFirstLetter('september'),
    API.Functions.capitalizeFirstLetter('october'),
    API.Functions.capitalizeFirstLetter('november'),
    API.Functions.capitalizeFirstLetter('december')
];


var dictionaryMonth = 'month';
var dictionaryWeek = 'week';
var dictionaryDay = 'day';
var dictionarySummary = 'agenda';
var dictionaryToday = 'Today';

var dictionaryDate = 'Date';
var dictionaryVisitsDone = 'Total visits done';
var dictionaryPlanned = 'Scheduled';
var dictionaryVisitsByPlan = 'Visits as scheduled';
var dictionaryUnplanned = 'Unscheduled visits';
var dictionaryMissed = 'Missed schedule';

var dictionaryAnyTime = 'Any time';
var dictionaryMoveAllEvents = 'Move All Events?';
var dictionaryMoveOne = 'Move only this visit';
var dictionaryMoveAll = 'Move all future visits';
var dictionarySaveSchedule = 'Save Schedule';
var dictionaryRemoveFromSchedule = 'Remove from schedule';
var dictionaryCancel = 'Cancel';
var dictionaryAddToSchedule = 'Add to Schedule';
var dictionaryMaximumOccurance = 'Maximum allowed recurring interval is 99!';
var dictionaryAjaxErrorOcccured = 'An error occurred. Please try again.';
var dictionaryAddToScheduleFor = 'Schedule new visit for ';
var dictionaryRepresentatives = 'Representatives';

</script>

<div style="display:none;" class="preloader"></div>

<div style="display:none;" class="dialogConfirm" id="dialog-confirm" title="Delete all visits?">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>These changes are permanent. Are you sure you want to proceed?</p>
</div>


<div style="display:none;" class="ui-dialog-buttonpane slideEdit ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset dialog-slider">
        <span style="display: block; width: 200px; left: -25px; position: relative;">Update a recurring event:</span>
        <button id="rn-schedule-only-this-event-button" type="button" class="confirm one voidClass ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
            <span id="rn-schedule-only-this-event-span" class="ui-button-text">Only this event</span>
        </button>
        <button id="rn-schedule-all-future-events-button" type="button" class="confirm all voidClass ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
            <span id="rn-schedule-all-future-events-span" class="ui-button-text">This and all future events</span>
        </button>
        <button id="rn-schedule-cancel" type="button" class="cancel buttonNew voidClass ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only removeBtn" role="button" aria-disabled="false">
            <span class="ui-button-text">Cancel</span>
        </button>
    </div>
</div>



<!-- MODALS -->
<div id="add-to-schedule" style="display:none;">
    <div class="inner-container">
        <div class="avatarImg"><i class="icon icon-client"></i></div>
        <h1 class="with-icon client"></h1>

        <div class="row">
            <div tabindex="1" class="unit">
                <label>Date</label>
                <input type="text" id="add-date" class="short rounded border hasDatepicker" disabled="disabled">
            </div>
            <div class="unit">
                <label>Time (optional)</label>
                <input type="text" id="add-time" placeholder="Any time" class="short rounded border ui-timepicker-input" autocomplete="off">
            </div>
            <div class="unit ">
                <label>Representative</label>
                <input type="text" id="add-representative" class="wide rounded border ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <i id="link-add-representative" class="icon icon-link link-newtab hidden"></i>
            </div>
        </div>
        <div class="row top-separated">
            <div class="unit">
                <label>Place</label>
                <input type="text" id="add-client" class="wider rounded border ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <i id="link-add-client" class="icon icon-link link-newtab hidden"></i>
            </div>
        </div>
        <div class="row top-separated">
            <div class="unit">
                <label class="">Visit note (optional)</label>
                <textarea class="visitPlanNote rounded border" id="addNote" cols="5" rows="2"></textarea>
            </div>
        </div>
        <div class="row top-separated">
            <label class="root-label">Repeats</label>
            <label for="rb-no-repeat"><input id="rb-no-repeat" checked="" type="radio" class="rounded border"> Don't repeat</label>
            <label for="rb-repeat"><input id="rb-repeat" type="radio" class="rounded border"> Repeat every <input type="text" id="repeat" maxlength="2" class="mini rounded border"> week(s)</label>
        </div>
    </div>
</div>
<div id="edit-schedule" style="display:none;">
    <div class="inner-container">
        <div class="avatarImg"><i class="icon icon-client"></i></div>
        <h1 class="with-icon client">Edit schedule</h1>

        <div class="row">
            <div tabindex="1" class="unit">
                <label>Date</label>
                <input type="text" id="edit-date" class="short rounded border hasDatepicker">
            </div>
            <div class="unit">
                <label>Time (optional)</label>
                <input type="text" id="edit-time" placeholder="Time (optional)" class="short rounded border ui-timepicker-input" autocomplete="off">
            </div>
            <div class="unit ">
                <label>Representative</label>
                <input type="text" id="edit-representative" class="wide rounded border ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <i id="link-edit-representative" class="icon icon-link link-newtab"></i>
            </div>
        </div>
        <div class="row top-separated">
            <div class="unit">
                <label>Place</label>
                <input type="text" id="edit-client" class="wider rounded border ui-autocomplete-input" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
                <i id="link-edit-client" class="icon icon-link link-newtab"></i>
            </div>
        </div>
        <div class="row top-separated">
            <div class="unit">
                <label class="">Visit note (optional)</label>
                <textarea class="visitPlanNote rounded border" id="editNote" cols="5" rows="2"></textarea>
            </div>
        </div>
        <div class="row top-separated">
            <label class="root-label">Repeats</label>
            <label for="rb-no-repeat-e"><input id="rb-no-repeat-e" type="radio" class="rounded border"> Don't repeat</label>
            <label for="rb-repeat-e"><input id="rb-repeat-e" type="radio" class="rounded border"> Repeat every <input type="text" id="repeat-e" maxlength="2" class="mini rounded border"> week(s)</label>
        </div>
        <div class="inner-overlay"></div>
    </div>
</div>

<link href="/content/css/fullcalendar/fullcalendar.min.css" rel="stylesheet">
<link href="/content/css/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">

 <script src="/bundles/visitplans?v=smdOKQ2XIdLNulIr8B86kAUvkgey4aMeoWaVpUvh6zg1"></script>


<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">

<link href="/content/css/jquery.timepicker.css" rel="stylesheet" type="text/css">
<link href="/content/css/fullcalendar/jquery.qtip.min.css" rel="stylesheet" type="text/css">

<link href="/content/css/visit-schedule.css?402" type="text/css" rel="stylesheet">

<script src="/content/js/visit-schedule.js?402" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        if ($("#IDPutnik").val() == undefined) {
            VisitSchedule.isClient = true;
        }
        else if ($("#IDKupacLokacija").val() == undefined) {
            VisitSchedule.isRep = true;
        }

        VisitSchedule.isCompany = false;

        $("#repeat, #repeat-e").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
                // Ensure that it is a number and stop the keypress
            else if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        var labelID;

        // repeat/don't repeat radio buttons label click event
        $('label').click(function (event) {
            labelID = $(this).attr('for');
            if (labelID == 'rb-repeat-e')
                $('#repeat-e').focus();
            else if (labelID == 'rb-repeat')
                $('#repeat').focus();
        });

        // repeat every n weeks input click event
        $('#repeat-e').click(function (event) {
            $('#rb-repeat-e').click(); // trriger click on 'Repeat every' radio button
            //$('#repeat-e').focus();
        });

        // datepicker for selecting date in add/edit schedule popup
        $('#edit-date, #add-date').datepicker();

        // timepicker for selecting date in add/edit schedule popup
        $('#add-time, #edit-time').timepicker({
            'step': 15,
            'scrollDefault': 'now',
            'noneOption': [
                {
                    'label': dictionaryAnyTime,
                    'className': 'shibby',
                    'value': dictionaryAnyTime
                }
            ],
            'defaultValue': 'now',
            'timeFormat': 'h:i A'
        });

        // repeat/dont' repeat radio buttons click event on new schedule popup
        $('#add-to-schedule input[type=radio]').click(function () {
            $('#add-to-schedule input[type=radio]').not($(this)).prop("checked", false);
            if ($('#add-to-schedule #rb-no-repeat').prop("checked"))
                $('#add-to-schedule #repeat').val('');
        });

        // repeat/dont' repeat radio buttons click event on edit schedule popup
        $('#edit-schedule input[type=radio]').click(function () {
            $('#edit-schedule input[type=radio]').not($(this)).prop("checked", false);
            if ($('#edit-schedule #rb-no-repeat-e').prop("checked"))
                $('#edit-schedule #repeat-e').val('');
        });

        // repeat every n weeks input click event on new schedule popup
        $('#edit-schedule #repeat').click(function () {
            $('#edit-schedule #rb-repeat-e').prop("checked", true);
            $('#edit-schedule #rb-no-repeat-e').prop("checked", false);
        });

        // repeat every n weeks input click event on edit schedule popup
        $('#add-to-schedule #repeat').click(function () {
            $('#add-to-schedule #rb-repeat').prop("checked", true);
            $('#add-to-schedule #rb-no-repeat').prop("checked", false);
        });


        // representative autocomplete
        $("#edit-representative, #add-representative").autocomplete({
            minLength: 2,
            delay: 300,
            source: function (request, response) {
                var term = request.term;
                var quickSearchUri = '/home/quicksearchvp';
                $.ajax({
                    dataType: "json",
                    url: quickSearchUri,
                    data: {
                        term: term,
                        entityId: 0
                    },
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Basic " + API.Communication.basic);
                    },
                    success: function (data, status, xhr) { // quickSearchUri = '/home/quicksearchvp'
                        response(data.Results);
                    },
                    error: function () {
                        if (arguments[0].responseText == undefined || arguments[0].responseText.indexOf('<unauthorized></unauthorized>') > 0) {
                            window.location = API.Communication.httpRoot + "account/logon";
                        }
                        $('#link-edit-representative, #link-add-representative').unbind().addClass('hidden');
                    }
                });
            },
            select: function (event, ui) {
                $(this).attr('data-objectId', ui.item.id);
                $('#link-edit-representative, #link-add-representative').unbind().click(function () { window.open(API.Communication.httpRoot + 'Representative/View/' + ui.item.id + '#calendar', '_blank'); }).removeClass('hidden'); // update link
            }
        });

        // client autocomplete
        $("#edit-client, #add-client").autocomplete({
            minLength: 2,
            delay: 300,
            source: function (request, response) {
                var term = request.term;
                var quickSearchUri = '/home/quicksearchvp';
                $.ajax({
                    dataType: "json",
                    url: quickSearchUri,
                    data: {
                        term: term,
                        entityId: 1
                    },
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", "Basic " + API.Communication.basic);
                    },
                    success: function (data, status, xhr) { // quickSearchUri = '/home/quicksearchvp'
                        response(data.Results);
                    },
                    error: function () {
                        if (arguments[0].responseText == undefined || arguments[0].responseText.indexOf('<unauthorized></unauthorized>') > 0) {
                            window.location = API.Communication.httpRoot + "account/logon";
                        }
                        $('#link-edit-client, #link-add-client').unbind().addClass('hidden');
                    }
                });
            },
            select: function (event, ui) {
                $(this).attr('data-objectId', ui.item.id);
                $('#link-edit-client, #link-add-client').unbind().click(function () { window.open('/Client/View/' + ui.item.id + '#calendar', '_blank'); }).removeClass('hidden'); // update link
            }
        });

        // timepicker for selecting date in add/edit schedule popup
        $('#add-time, #edit-time').timepicker({
            'step': 15,
            'scrollDefault': 'now',
            'noneOption': [
                {
                    'label': dictionaryAnyTime,
                    'className': 'shibby',
                    'value': dictionaryAnyTime
                }
            ],
            'defaultValue': 'now',
            'timeFormat': 'h:i A'
        });

    });

</script>



<div id="calendar"></div>




<div class="legends hidden">
    <ul>
        <li>Past visits:</li>
        <li><span class="completed-scheduled"> </span> Visited as scheduled</li>
        <li><span class="completed-unscheduled"> </span> Unscheduled visits</li>
        <li><span class="missed-schedule"> </span> Missed schedule</li>
    </ul>
    <ul>
        <li>Upcoming visits:</li>
        <li><span class="to-visit"> </span> Scheduled</li>
    </ul>
    <ul></ul>
</div>

    </div> 
    <div id="nodata-container" class="nodatafound display-sheet" style="display: none;">
    <span class="coach-sprite no-data"></span>
        <div id="device-connected">
            Representative had no activities yet.
            <div class="device-not-connected-image rounded">
            </div>
            Field activities are created through the mobile app on smartphone or tablet
        </div>
        <div id="device-not-connected" style="display: none;">
            <p>Use Repsly mobile app to create field actitivites.</p><p><span class="connect-mobile-device link-like">Connect</span> your first mobile device.</p>
            <div class="device-not-connected-image rounded">
            </div>
            Field activities are created through the mobile app on smartphone or tablet
        </div>
    </div>
</div>






</div> <!-- all-around -->
<script type="text/x-jquery-tmpl" id="tmpl-representative-card">

    
    <div class="trinity-box one raised">
                        <h2 class="">Time at place</h2>
                        <span class="value">${UkVrijemeKodKupcaSati}h:${UkVrijemeKodKupcaMinuta}m</span>
                        <span class="average">Total time spent at place</span>
                    </div>
                    <div class="trinity-box two">
                        <h2 class="">Place visits</h2>
                        <span class="value">${UkObilazaka}</span>
                        <span class="average">Avg. visits/day: ${ProsObilazakaDnevno}</span>
                    </div>
                    <div class="trinity-box three">
                        <h2 class="">Activities</h2>
                        <span class="value">${UkupnoAktivnosti}</span>
                        <span class="average">Avg. field activities/visit: ${ProsjekAktivnostiPoDanu}</span>
                    </div>
                    <div class="chart-header">
                        <ul class="chart-buttons">
                            <li><a class="period-hour">Hourly</a></li>
                            <li><a class="period-day">day</a></li>
                            <li><a class="period-week">week</a></li>
                            <li><a class="period-month">month</a></li>
                        </ul>
                    </div>
                    <div id="main-chart" class="chart" data-highcharts-chart="0" style="margin-left:20px; overflow:hidden; margin-bottom: 0;"></div>
                    <div class="summary_segment team_effort" style="margin-bottom:0px">
                            <h3>Effort</h3>
                            <ul class="activities">
                                <li>
                                    <span class="activity">Days active</span>
                                    <div class="value" id="UkLokacija" data-percent="0"><span>${UkRadnihDana}</span style="margin-left:15px"></div>
                                    <span class="description">Total number of days with activities</span>
                                </li>
                                <li>
                                    <span class="activity">Working time</span>
                                    <div class="value" id="UkLokacija" data-percent="0"><span>${UkRadnoVrijemeSati}h:${UkRadnoVrijemeMinuta}m</span></div>
                                    <span class="description">${_RadnoVrijemeDescription}</span>
                                </li>
                                <li>
                                    <span class="activity">Total mileage (km)</span>
                                    <div class="value" id="UkLokacija" data-percent="0"><span>${UkKilometri}</span></div>
                                    <span class="description">${_KilometriDescription}</span>
                                </li>
                                <li>
                                    <span class="activity">Visited places</span>
                                    <div class="value" id="UkLokacija" data-percent=0"><span>${UkLokacija}</span></div>
                                    <span class="description">${_VisitedClientsDescription}</span>
                                </li>
                            </ul>
                    </div>
                    <div class="summary_segment">
                        <h3>Activities by Type</h3>
                        <div class="left-bar">
                            <ul class="activities list">
                                <li class="hasicon"><span class="activity"><i class="icon icon-forms"></i> Forms</span><span id="rn-rep-sum-forms" activity="form" class="value home-post-link" id="UkLokacija">${UkAnketa}</span></li>
                                                            <li class="hasicon"><span class="activity"><i class="icon icon-pricescan"></i> Retail audits</span><span id="rn-rep-sum-audits" activity="pricescan" class="value home-post-link" id="UkLokacija">${UkAsortimanInfo}</span></li>
                                                             <li class="hasicon"><span class="activity"><i class="icon icon-photos"></i> Photos</span><span id="rn-rep-sum-photos" activity="photo" class="value home-post-link" id="UkLokacija">${UkDatoteka}</span></li>
                                <li class="hasicon"><span class="activity"><i class="icon icon-clientnotes"></i> Notes</span><span id="rn-rep-sum-client-notes" activity="clientnote" class="value home-post-link" id="UkLokacija" unidocid="">${UkPorukaKupac}</span></li>
                                <li class="hasicon"><span class="activity"><i class="icon icon-newclient"></i> New places</span><span id="rn-rep-sum-new-client" activity="newclient" class="value home-post-link" id="UkLokacija">${UkNovihKupaca}</span></li>
                                <li class="hasicon"><span class="activity"><i class="icon icon-salespipeline"></i> Status changes</span><span id="rn-rep-sum-client-status" activity="clientstatuschange" class="value home-post-link" id="UkLokacija">${UkKupacPromjenaStatusa}</span></li>
                               <li class="hasicon"><span class="activity"><i class="icon icon-purchaseorder"></i> Orders</span><span id="rn-rep-sum-order" activity="document" class="value home-post-link" id="UkLokacija">${UkDokumenata}</span></li>
                            </ul>
                        </div>
                        <div class="right_bar">  
                        <div id="activities-pie" data-highcharts-chart="1" style="text-align:center; color:#818182;"></div>
                         </div>
                    </div>

                    <div class="summary_segment" style="vertical-align:middle">
                        <h3>Schedule planning</h3>
                        <div class="left-bar">
                            <ul class="activities list">                               
                                <li class="hasicon"><span class="activity"><i class="icon icon-visit planned"></i> Scheduled</span><span activity="form" class="value" id="UkLokacija">${UkPosjetaPlanirano}</span></li>                              
                                <li class="hasicon"><span class="activity"><i class="icon icon-visit according-to-plan"></i> Visited as scheduled</span><span activity="photo" class="value" id="UkLokacija">${UkPosjetaPoPlanu}</span></li>
                                <li class="hasicon"><span class="activity"><i class="icon icon-visit unplanned"></i> Unscheduled visits</span><span activity="clientnote" class="value" id="UkLokacija">${UkPosjetaNeplanirano}</span></li>
                                <li class="hasicon"><span class="activity"><i class="icon icon-visit missed"></i> Missed schedule</span><span activity="newclient" class="value" id="UkLokacija">${UkPosjetaNeobavljeno}</span></li>                     
                            </ul>
                        </div>
                        <div class="right_bar">  
                        <div id="visit-planning-pie" data-highcharts-chart="1" style="text-align:center; color:#818182"></div>
                         </div>
                    </div>

                    {{if KarticaAnketa.length > 0}}
                    <div class="summary_segment">
                      <h3>Forms</h3>
                        <div class="left-bar">
                            <ul class="activities list">
                            {{each KarticaAnketa}}
                                <li class="hasicon"><span class="activity"><i class="icon icon-forms"></i> ${Naziv}</span><span activity="form" unidoczagid="${UniDocZagID}" class="value home-post-link" id="UkAnketa">${UkAnketa}</span></li>
                            {{/each}}
                            </ul>
                        </div>
                        <div class="right_bar">
                                <div id="forms-pie" data-highcharts-chart="2" style="margin-left:40px; min-height:200px"></div>
                        </div>
                    </div>
                    {{/if}}
                                    {{if Pricescans.length > 0}}
                    <div class="summary_segment">
                      <h3>Retail audits</h3>
                        <div class="left-bar">
                            <ul class="activities list">
                            {{each Pricescans}}
                                <li class="hasicon"><span class="activity"><i class="icon icon-pricescan"></i> ${Naziv}</span><span activity="pricescan" formid="${ID}" pricescannaziv="${Naziv}" class="value home-post-link" id="UkAnketa">${Count}</span></li>
                            {{/each}}
                            </ul>
                        </div>
                        <div class="right_bar">
                                <div id="pricescans-pie" data-highcharts-chart="2" style="margin-left:40px; min-height:200px"></div>
                        </div>
                    </div>
                    {{/if}}
                                         <div class="summary_segment">
                       <h3>Sales and Merchandising</h3>
                       <div class="left-bar">
                            <ul class="activities list">
                               <li class="hasicon"><span class="activity"><i class="icon icon-purchaseorder"></i> Orders</span><span id="rn-rep-sum-po" activity="document" class="value home-post-link" id="UkLokacija">${UkDokumenata}</span></li>
                            </ul>
                        </div>
                         <div class="right_bar_snm">
                                <div class="sales-total">
                                    <span class="activity">Total</span><span activity="document" class="value home-post-link money" id="UkLokacija" >${_UkOsnovicaFormatted}</span>
                                </div>
                        </div>
                    </div>

</script>
<script type="text/x-jquery-tmpl" id="tmpl-form-list">
    <ul class="activities">
        {{each KarticaAnketa}}<li><span class="activity">${Naziv}</span><span id="UkAnketa" class="value home-post-link" unidoczagid="${UniDocZagID}" activity="form">${UkAnketa}</span><span class="description home-post-link-prev">${Description}</span></li>{{/each}}
    </ul>
</script>
<script type="text/x-jquery-tmpl" id="tmpl-representative-card-BAK">
    <h3>
            Work results </h3>
        <ul class="activities">
         <li><span class="activity">Working hours</span> <span class="value">
                ${VrijemeRada}</span> <span class="description">Hours and minutes spent in work.</span>
            </li>
            <li><span class="activity">
            Visits
            </span> <span id="UkObilazaka" class="value">${UkObilazaka}</span>
                <span class="description">Total number of visits.</span>
                </li>
            <li><span class="activity">Places visited</span>
            <span id="UkLokacija" class="value">${UkLokacija}</span>
                <span class="description">Total number of places visited</span>
                </li>

            <li><span class="activity">Forms</span> <span id="UkAnketa" class="value">${UkAnketa}</span>
                <span class="description">Use forms to keep record of your reps activities.</span> </li>
            <li><span class="activity">Photos</span> <span id="UkDatoteka" class="value">${UkDatoteka}</span>
                <span class="description">Photos taken</span> </li>
        </ul>
</script>
<script type="text/x-jquery-tmpl" id="tmpl-representative-card-empty">
    <h3>
            Work results </h3>
        <ul class="activities">
         <li><span class="activity">Working hours</span> <span class="value">
                0:00</span> <span class="description">Hours and minutes spent in work.</span>
            </li>
            <li><span class="activity">
            Visits
            </span> <span id="UkObilazaka" class="value">0</span>
                <span class="description">Total number of visits.</span>
                </li>
            <li><span class="activity">Places visited</span>
            <span id="UkLokacija" class="value">0</span>
                <span class="description">Total number of places visited</span>
                </li>

            <li><span class="activity">Forms</span> <span id="UkAnketa" class="value">0</span>
                <span class="description">Use forms to keep record of your reps activities.</span> </li>
            <li><span class="activity">Photos</span> <span id="UkDatoteka" class="value">0</span>
                <span class="description">Photos taken</span> </li>
        </ul>
</script>
<script type="text/x-jquery-tmpl" id="representative-history-tmpl">
<tr id="history_item_${id}" date="${Datum}" class="history-item no-init" numdate=${NumDate} putnikid=${ReferalID}>
    <td class="action-cell"><a class="action-detail action post-to-stream icon icon-details"  date="${Datum}" numdate=${NumDate} href="/Home/Index"></a></td>
    <td class="date-cell">${Datum}</td>
    <td>${TimeStart}<span class="subtext">${KmStart}</span></td>
    <td>${TimeEnd}<span class="subtext">${KmEnd}</span></td>
    <td class="activity-cell">
        <ul class="activities-list">
        {{if ClientNum > 0}}
            <li class="visit-num trigger" activity="visit" title="Visited places"><i class="icon icon-visit"></i> ${ClientNum}</li>
        {{else}}
            <li class="visit-num empty" title="Visited places"><i class="icon icon-visit"></i> 0</li>
        {{/if}}
        {{if DokumentNum > 0}}
            <li class="dokument-num trigger" activity="document" title="Orders"><i class="icon icon-purchaseorder"></i> ${DokumentNum}</li>
        {{else}}
            <li class="dokument-num empty" title="Orders"><i class="icon icon-purchaseorder"></i> 0</li>
        {{/if}}
        {{if FormNum > 0}}
            <li class="form-num trigger" activity="form" title="Forms"><i class="icon icon-forms"></i> ${FormNum}</li>
        {{else}}
            <li class="form-num empty" title="Forms"><i class="icon icon-forms"></i> 0</li>
        {{/if}}
        {{if PricescanNum > 0}}
            <li class="pricescan-num trigger"  activity="pricescan" title="Retail audits"><i class="icon icon-pricescan"></i> ${PricescanNum}</li>
        {{else}}
            <li class="pricescan-num empty" title="Retail audits"><i class="icon icon-pricescan"></i> 0</li>
        {{/if}}
        {{if PhotoNum > 0}}
            <li class="photo-num trigger" activity="photo" title="Photos"><i class="icon icon-photos"></i> ${PhotoNum}</li>
        {{else}}
            <li class="photo-num empty" title="Photos"><i class="icon icon-photos"></i> 0</li>
        {{/if}}
        {{if ClientConversionNum > 0}}
            <li class="conversion-num trigger"  activity="clientstatuschange" title="Status changes"><i class="icon icon-salespipeline"></i> ${ClientConversionNum}</li>
        {{else}}
            <li class="conversion-num empty" title="Status changes"><i class="icon icon-salespipeline"></i> 0</li>
        {{/if}}
        {{if ClientNewNum > 0}}
            <li class="client-new-num trigger"  activity="newclient" title="New places"><i class="icon icon-newclient"></i> ${ClientNewNum}</li>
        {{else}}
            <li class="client-new-num empty" title="New places"><i class="icon icon-newclient"></i> 0</li>
        {{/if}}
        
        </ul>
    </td>
</tr>
</script>
<script type="text/x-jquery-tmpl" id="representative-agenda-tmpl">
<tr id="agenda_item_${id}" date="${Datum}" class="history-item no-init" numdate=${NumDate} putnikid=${ReferalID}>
    
    
    <td><span class="subtext">${date}</span></td>
    <td><span class="subtext">${plannedButNotOccured}</span></td>
    <td><span class="subtext">${plannedVisits}</span></td>
    <td><span class="subtext">${totalVisitsDone}</span></td>
    <td><span class="subtext">${unplannedVisits}</span></td>
    <td><span class="subtext">${visitsAccordingToPlan}</span></td>
   
</tr>
</script>
            </div>
            <footer></footer>

        <div id="autoResizeTextareaCopy" style="box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box; -webkit-box-sizing: border-box; visibility: hidden;"></div></div>