



<div class="animate content" ng-show="page=='main'">
    <span id="menu_pointer" class="hidden menu_pointer"></span>
    <div id="main">

        <input id="Page" name="Page" type="hidden" value="Client" class="rounded border">

        <div id="default-header">
            <h1 class="page-head clients">
        <i class="icon icon-client"></i>
        <span id="rn-clients-header" class="header-main">Places </span><span class="header-sub">
            Manage list of your places and easily analyze activities and trends.
        </span>
    </h1>
        </div>

        <div class="actions with_menu">
            <a id="rn-new-client" ui-sref="app.filter" class="button_create rounded" title="Add new place"><!-- href="/client/view" -->
                <i class="icon icon-plus"></i> New place
            </a>

            <span class="action_menu plain" href="">
        <input id="rn-client-import-arrow" type="button" class="action_menu_button rounded border" value=" ">
        <div class="menu_list" style="display: none;">
            <span class="clip"></span>
            <ul>
                <li id="ImportClients" class="menu_item rounded import" url="/Client/ImportClients">
                    <i class="icon icon-upload"></i> <span>Import places</span>
                    <div class="separator">
                    </div>
                </li>
                <li id="AddTags" class="menu_item rounded tags">
                    <i class="icon icon-tag"></i> <span>Add tags to filtered places</span>
                    <div class="separator">
                    </div>
                </li>
            </ul>
        </div>
        </span>
    </div>

    <div id="ImportNotification" style="visibility: hidden; display: none;">

        <script type="text/javascript">
            function closeErrors() {
                $('#ImportNotification').css({
                    'display': 'none'
                });
                localStorage.setItem('ImportClientsJob', 'UserNotified');
            }
        </script>
        <script type="text/javascript">
            $('#ImportNotification').css({
                'display': 'none'
            });
        </script>

    </div>

    <div class="filter minimized" id="filter">
        <div class="actions_header filter_padding">
            <input type="hidden" id="sortBy" class="filter-data rounded border">
            <input type="hidden" id="ascending" class="filter-data rounded border">
            <a href="#" class="back-link" title="Go back" style="display: none;">&lt;</a>
            <div class="filter-list">
                <div class="place_left">
                    <ul>
                        <li class="relatived filter-item">
                            <input type="hidden" id="ExportType" value="xlsx" class="filter-data rounded border">
                            <input type="hidden" id="Filename" value="Places" class="filter-data rounded border">
                            <input type="hidden" id="KupacLokacijaID" class="filter-data rounded border">
                            <input type="text" id="search" class="filter-data grid_filter border rounded search list" datatype="search" placeholder="Search places">
                            <span class="input-loader" style="display: none;"></span>
                        </li>
                        <li id="dateFilter" class="filter-item range-wrapper" style="display: none;">

                            <input id="DateBegin" type="text" class="date_picker datebegin rounded border filter-data hasDatepicker" value="9/23/2017"> -
                            <input id="DateEnd" type="text" class="date_picker dateend rounded border filter-data hasDatepicker" value="9/23/2017">
                            <span class="range-picker ui-corner-all">
<span id="rn-range-picker-arrow" class="range-picker-overlay" title="Use some predefined date range"></span>
                            <div class="range-container ui-corner-bottom ui-corner-tr" style="display: none;">
                                <ul class="">
                                    <li id="rn-range-picker-today" class="range rounded" db="9/23/2017" de="9/23/2017">Today</li>
                                    <li id="rn-range-picker-yesterday" class="range rounded" db="9/22/2017" de="9/22/2017">Yesterday</li>
                                    <li class="delimiter"></li>
                                    <li id="rn-range-picker-this-week" class="range rounded" db="9/18/2017" de="9/23/2017">This week</li>
                                    <li id="rn-range-picker-last-week" class="range rounded" db="9/11/2017" de="9/17/2017">Last week</li>
                                    <li class="delimiter"></li>
                                    <li id="rn-range-picker-this-month" class="range rounded" db="9/1/2017" de="9/23/2017">This month</li>
                                    <li id="rn-range-picker-last-month" class="range rounded" db="8/1/2017" de="8/31/2017">Last month</li>
                                    <li class="delimiter"></li>
                                    <li id="rn-range-picker-this-year" class="range rounded" db="1/1/2017" de="9/23/2017">This year</li>
                                    <li id="rn-range-picker-last-year" class="range rounded" db="1/1/2016" de="12/31/2016">Last year</li>
                                </ul>
                                <span class="clip"></span>
                            </div>
                            </span>

                        </li>
                        <li id="AdditionalFiltersWrapper" class="filter-item drop" style="margin-left: 5px;
                        margin-right: 5px;">
                            <a id="rn-client-addMoreFilters-trigger" href="#" class="megadrop more-filters" tipsy="true" title="Add more things in filter: status, tags etc.">Add more filters</a>
                            <div id="AdditionalFilters" class="mega_content mega_home align_right" style="display: none;">
                                <ul class="drop_content">
                                    <li class="in-megadrop">
                                        <h3 class="">Filter places by their current status</h3>
                                        <select class="filter-data border rounded" datatype="StatusPodjelaGrupaID" id="StatusPodjelaGrupaID">

                                            <option title="- any status -" value="">- any status -</option>

                                            <option title="Lead" value="204622">Lead</option>

                                            <option title="Qualified prospect" value="204624">Qualified prospect</option>

                                            <option title="Negotiation" value="204623">Negotiation</option>

                                            <option title="Active Client" value="204621">Active Client</option>

                                        </select>
                                    </li>
                                    <li class="tags-wrapper in-megadrop">
                                        <h3 class="">Filter places by tags applied to them</h3>

                                        <div>

                                            <div class="tags-container KUPACLOKACIJA clearfix" mode="filter" tagtype="KUPACLOKACIJA" isreadonly="true">

                                                <input class="tag-list-holder filter-data rounded border" type="hidden" id="Tags">
                                                <div class="tag-list rounded border clearfix"></div>
                                                <span class="tags-trigger icon-tags rounded"></span>
                                            </div>

                                        </div>

                                    </li>
                                    <li class="in-megadrop">

                                        <label class="toggle" for="includeInactive"> Include inactive places</label>
                                        <input type="checkbox" class="filter-data border rounded" datatype="includeInactive" id="includeInactive" name="includeInactive" title="Include inactive places">
                                    </li>
                                    <li class="in-megadrop">
                                        <h3 class="">Filter places by territory</h3>
                                        <select class="filter-data border rounded" datatype="PoslovnaJedinicaID" id="PoslovnaJedinicaID">
                                            <option value="">-</option>
                                        </select>
                                    </li>
                                    <li class="in-megadrop">
                                        <h3 class="">Filter by representative</h3>
                                        <select class="filter-data border rounded" datatype="PutnikID" id="PutnikID">
                                            <option value="">-</option>
                                            <option value="67586">Glen- Sales Representative</option>
                                            <option class="inactive-rep" title="Rep is deactivated" value="68066">xyz</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li id="TriggerWrapper" class="filter-item">
                            <span id="rn-client-apply-button" class="filter-trigger standalone rounded" title="Refresh screen according to filter selection.">Apply</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="drop view-as-drop place_right">
                <input id="UniDocZagID" type="hidden" class="filter-data rounded border" value="">
                <input id="UniDocRowId" type="hidden" class="filter-data rounded border" value="">
                <input id="ViewSelection" type="hidden" class="filter-data rounded border" value="plainlist"> View as: <a href="#" id="rn-client-viewas-dropdown" class="megadrop" title="">Plain list</a>
                <div id="ViewAsMegaDrop" class="mega_content mega_viewas align_right" style="display: none;">
                    <ul class="drop_content">
                        <li class="ddl-item"><a href="#" id="plainlist" value="plainlist" class="option viewas_table selected">Plain list</a></li>
                        <li class="ddl-item"><a href="#" id="rankings" value="rankings" class="option viewas_table">Rankings</a></li>
                        <li class="ddl-item"><a href="#" id="territoryRankings" value="territoryRankings" class="option viewas_table">Territory rankings</a></li>
                        <li class="ddl-item"><a href="#" id="table" value="table" class="option viewas_table">Tabular view</a></li>

                        <li class="ddl-item"><a href="#" id="117070" value="9cd3a583-b67b-4b45-9f0e-a4b8c17166b9" class="option viewas_table form_data">Job Estimate</a></li>

                        <li class="ddl-item"><a href="#" id="117063" value="05861144-56fb-4f06-91e1-3a1202f9f6ee" class="option viewas_table form_data">Merchandising and Competitor Insight Report</a></li>

                        <li class="ddl-item"><a href="#" id="117064" value="c5ff9e28-b435-4e98-a416-ee38e7ba1039" class="option viewas_table form_data">Out of Stock</a></li>

                        <li class="ddl-item"><a href="#" id="117065" value="26e35a0b-5422-4ba1-b0a5-604965c61359" class="option viewas_table form_data">Sampling Event Recap</a></li>

                        <li class="ddl-item"><a href="#" id="117071" value="c7adfa38-2b65-47bf-8d79-45155f6f2f01" class="option viewas_table form_data">Service Form Checklist</a></li>

                        <li class="ddl-item"><a href="#" id="117647" value="09903581-0636-4a25-8bd4-c365ab53113c" class="option viewas_table form_data">visit place</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="client-list-container" class="display-sheet" style="display: block;    margin: 20px !important;">
        <div class="filter hidden">
            <div class="filter-list">
                <div class="filter-node"><span id="ddlVrstaTransakcije" class="vt-sexy-ddl sexy-drop-down-container rounded border" tabindex="0">
    <input type="hidden" id="VrstaTransakcije" class="filter-data rounded border">
    <div class="line">
        <span value="" class="none current">All</span><span class="arrow-icon down ui-icon-carat-1-s"></span>
                </div>
                <ul class="sexy-drop-down-list">
                    <li class="ddl-item none" value="" tabindex="0"><span value="" class="none">All</span></li>
                    <li class="ddl-item mpc" value="MPR" tabindex="0"><span value="MPR" class="mpc">Invoice</span></li>
                    <li class="ddl-item vpc" value="VPC" tabindex="0"><span value="VPC" class="vpc">Receipt</span></li>
                    <li class="ddl-item tran" value="TRAN" tabindex="0"><span value="TRAN" class="tran">Transfer</span></li>
                </ul>
                </span>

            </div>
            <div class="filter-node"><span id="ddlVrstaDogadjaja" class="dogadjaj-sexy-ddl sexy-drop-down-container rounded border" tabindex="0">
    <input type="hidden" id="VrstaDogadjajID" class="filter-data rounded border">
    <div class="line">
        <span value="" class="none current">All</span><span class="arrow-icon down ui-icon-carat-1-s"></span>
            </div>
            <ul class="sexy-drop-down-list">
                <li class="ddl-item none" value="" tabindex="0"><span value="" class="none">All</span></li>
                <li class="ddl-item message" value="1" tabindex="0"><span value="1" class="message">Message</span></li>
                <li class="ddl-item photo" value="11" tabindex="0"><span value="11" class="photo">Photo</span></li>
                <li class="ddl-item document" value="6" tabindex="0"><span value="6" class="document">Document</span></li>
            </ul>
            </span>

        </div>
        <div class="filter-node">
            <select class="styled rounded border">
                <option value="MPC" class="MPC">one</option>
                <option value="VPC" class="VPC">two</option>
                <option value="INV" class="INV">something</option>
                <option value="TRAN" class="TRAN">4</option>
                <option value="GK" class="GK">5</option>
            </select>
        </div>
    </div>
</div>

<div class="table_content" style="width: 100%;margin: auto;">
    <table class="datatable grid" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <td class="rows-toggle-cell">
                    <input type="checkbox" valueid="${KupacLokacijaID}" class="rows-toggle" title="Check/Clear all">
                </td>
                <td></td>
                <td sorttype="code">
                    ID
                </td>
                <td sorttype="name">
                    Place
                </td>
                <td sorttype="territory">
                    Territory
                </td>
                <td sorttype="status">
                    Status
                </td>
                <td sorttype="lastEvent">
                    Latest activity at place
                </td>
                <td sorttype="active" class="active">
                    Active
                </td>
            </tr>
        </thead>
        <tbody >
            <tr class="list-item-container"  ng-repeat="place in placedashboardCtrl">
                <td class="row-checkbox">
                    <input type="checkbox"  class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details"></a>
                </td>
                <td class="code">{{place.Id}}</td>
                <td class="name"><a class="table-link" >{{place.Name}}</a><span class="subtext">{{place.Address}}</span></td>
                <td class="territory"></td>
                <td class="status" ></td>
                <td class="status" ng-If="{{place.IsActive}} == false">InActive Client</td>
                <td class="last_activity type_">
                    <div class="relatived"> - </div>
                </td>
                <td class="active" ng-If="{{place.IsActive}} == true"><span class="active-icon true"></span></td>
            </tr>
            <!--<tr elementid="8460280" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8460280" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8460280"></a>
                </td>
                <td class="code">8460280</td>
                <td class="name"><a class="table-link" href="/Client/view/8460280">Hp Medicals</a><span class="subtext">Nehru Place, New Delhi, UK, India</span></td>
                <td class="territory"></td>
                <td class="status">Active Client</td>
                <td class="last_activity type_18">
                    <div class="relatived"> <a dogadjajid="12b09dba-2e5c-4b98-b1a1-b8e457ea053b" class="last-event modal newclient rounded"><i class="icon icon-newclient"></i></a> <a href="Representative/View/67586">Glen- Sales Representative</a>, 9/19/2017 11:04 AM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8229767" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8229767" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8229767"></a>
                </td>
                <td class="code">8229767</td>
                <td class="name"><a class="table-link" href="/Client/view/8229767">Isha Medical</a><span class="subtext">Anand Bazar Road 57, Indore, Madhya Pradesh 452018, India</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_9">
                    <div class="relatived"> <i class="icon icon-visit cellicon"></i> <a href="Representative/View/67586">Glen- Sales Representative</a>, 9/19/2017 11:12 AM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8277094" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8277094" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8277094"></a>
                </td>
                <td class="code">8277094</td>
                <td class="name"><a class="table-link" href="/Client/view/8277094">Mobile zone</a><span class="subtext"> , Indore, Madhya Pradesh 452010, India</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_18">
                    <div class="relatived"> <a dogadjajid="803cbe27-3bb7-46ff-9b7a-f08c254b131b" class="last-event modal newclient rounded"><i class="icon icon-newclient"></i></a> <a href="Representative/View/67586">Glen- Sales Representative</a>, 8/19/2017 11:42 AM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8277236" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8277236" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8277236"></a>
                </td>
                <td class="code">8277236</td>
                <td class="name"><a class="table-link" href="/Client/view/8277236">Office</a><span class="subtext">68 Grayston Drive, Sandton, Gauteng 2031, South Africa</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_9">
                    <div class="relatived"> <i class="icon icon-visit cellicon"></i> <a href="Representative/View/67586">Glen- Sales Representative</a>, 8/24/2017 6:21 PM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8233141" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8233141" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8233141"></a>
                </td>
                <td class="code">8233141</td>
                <td class="name"><a class="table-link" href="/Client/view/8233141">Polus Software Private Limited</a><span class="subtext"> , Kazhakkoottam, Kerala 695581, India</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_9">
                    <div class="relatived"> <i class="icon icon-visit cellicon"></i> <a href="Representative/View/67586">Glen- Sales Representative</a>, 9/19/2017 11:12 AM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8203884" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8203884" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8203884"></a>
                </td>
                <td class="code">8203884</td>
                <td class="name"><a class="table-link" href="/Client/view/8203884">Ratndeep sarees indore</a><span class="subtext"> , Indore, Madhya Pradesh 452001, India</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_9">
                    <div class="relatived"> <i class="icon icon-visit cellicon"></i> <a href="Representative/View/67586">Glen- Sales Representative</a>, 9/19/2017 11:06 AM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8240182" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8240182" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8240182"></a>
                </td>
                <td class="code">8240182</td>
                <td class="name"><a class="table-link" href="/Client/view/8240182">Restaurant</a><span class="subtext">Palasia , Indore, Mp 452001, India</span></td>
                <td class="territory"></td>
                <td class="status">Lead</td>
                <td class="last_activity type_9">
                    <div class="relatived"> <i class="icon icon-visit cellicon"></i> <a href="Representative/View/67586">Glen- Sales Representative</a>, 8/23/2017 4:56 PM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8253773" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8253773" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8253773"></a>
                </td>
                <td class="code">8253773</td>
                <td class="name"><a class="table-link" href="/Client/view/8253773">Shraddha sports</a><span class="subtext"> , Indore, Madhya Pradesh 452001, India</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_9">
                    <div class="relatived"> <i class="icon icon-visit cellicon"></i> <a href="Representative/View/67586">Glen- Sales Representative</a>, 9/19/2017 11:06 AM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>
            <tr elementid="8230151" class="list-item-container">
                <td class="row-checkbox">
                    <input type="checkbox" valueid="8230151" class="row-indicator"> </td>
                <td class="action-cell">
                    <a class="action-detail action icon icon-details" href="/Client/view/8230151"></a>
                </td>
                <td class="code">8230151</td>
                <td class="name"><a class="table-link" href="/Client/view/8230151">Shree Foods Corner</a><span class="subtext"> , Indore, Madhya Pradesh 452001, India</span></td>
                <td class="territory"></td>
                <td class="status"></td>
                <td class="last_activity type_2">
                    <div class="relatived"> <a href="javascript:;" dogadjajid="63f3f894-1c66-482f-ba49-fe9a2f1ef7aa" class="last-event modal dokument rounded" title="View this document in details"><i class="icon icon-invoice"></i></a> <a href="Representative/View/67586">Glen- Sales Representative</a>, 8/26/2017 2:54 PM </div>
                </td>
                <td class="active"><span class="active-icon true"></span></td>
            </tr>-->
        </tbody>
    </table>
</div>
<div class="pager-holder">
    <div class="table_footer">
        <div class="grid_info">Showing 1-10 out of 14 records</div>
        <div class="paging"> <span id="rn-paging-prev" href="#" class="prev pager disabled" page="">Previous</span> <span id="rn-paging-next" href="#" class="next pager" page="1">Next</span> </div> <a href="https://user.repsly.com/client/exportall" class="export post-link pager rounded" id="rn-client-export-plainlist">Export</a></div>
</div>
</div>
<div id="client-ranking-container" class="display-sheet" style="display: none;">
    <div class="table_content">
        <table class="datatable grid" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <td class="rows-toggle-cell">
                        <input type="checkbox" valueid="${KupacLokacijaID}" class="rows-toggle" title="Check/Clear all">
                    </td>
                    <td></td>
                    <td class="sortable" sortby="KupacNaziv">
                        Place
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkObilazaka">
                        Visits
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkAnketa">
                        Forms
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkDatoteka">
                        Photos
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkPoruka">
                        Notes
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkDokumenata">
                        Sales documents
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkAsortimanInfo">
                        Retail audits
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkOsnovica">
                        Total
                        <span class="arrow"></span></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="pager-holder">
    </div>
</div>
<div id="client-territoryRanking-container" class="display-sheet" style="display: none;">
    <div class="table_content">
        <table class="datatable grid" cellpadding="0" cellspacing="0">
            <thead>
                <tr>

                    <td></td>
                    <td class="sortable" sortby="Naziv">
                        Territory
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkObilazaka">
                        Visits
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkAnketa">
                        Forms
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkDatoteka">
                        Photos
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkPoruka">
                        Messages
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkDokumenata">
                        Sales documents
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkAsortimanInfo">
                        Retail audits
                        <span class="arrow"></span></td>
                    <td class="sortable numeric" sortby="UkOsnovica">
                        Total
                        <span class="arrow"></span></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="pager-holder">
    </div>
</div>
<div id="nodata-container" class="display-sheet" style="display: none;">
    <div class="nodatafound entity">
        <span class="coach-sprite icon  no-data"></span> No active places found.
    </div>
</div>
<div id="noform-container" class="display-sheet" style="display: none;">
    <div class="nodatafound entity">
        <span class="coach-sprite icon  no-data"></span> No active places found.
    </div>
</div>
<div id="form-list-container" class="display-sheet" style="display: none;">
    <div class="tabular_content">
    </div>
    <div class="pager-holder">
    </div>
</div>
<div id="photo-gallery-container" class="display-sheet" style="display: none;">

    <div class="pager-holder">
    </div>
</div>
<div class="bar-loader-holder">
    <span id="FormPagingLoader" class="bar-loader" style="display: none;">Loading more places, please wait...</span>
</div>
<script type="text/x-jquery-tmpl" id="tmpl-client-row">
    <tr elementid=${KupacLokacijaID} class="list-item-container">
        <td class="row-checkbox">
            <input type="checkbox" valueid="${KupacLokacijaID}" class="row-indicator" />
        </td>
        <td class="action-cell">
            <a class="action-detail action icon icon-details" href="/Client/view/${KupacLokacijaID}"></a>
        </td>
        <td class="code">${Sifra}</td>
        <td class="name"><a class="table-link" href="/Client/view/${KupacLokacijaID}">${Naziv}</a><span class="subtext">${Adresa1}{{if (Adresa2 != null && Adresa2 != "")}}, ${Adresa2}{{/if}}</span></td>
        <td class="territory">${PoslovnaJedinicaNaziv}</td>
        <td class="status">${StatusNaziv}</td>
        <td class="last_activity type_${LastDogadjajVrstaID}">
            <div class="relatived">

                {{if (LastDogadjajVrstaID == 9) }}
                <i class="icon icon-visit cellicon"></i> {{/if}} {{if (LastDogadjajVrstaID == 14) }}
                <i class="icon icon-messages cellicon"></i> {{/if}} {{if (LastDogadjajVrstaID == 17) }}
                <i class="icon icon-deviceconnected cellicon"></i> {{/if}} {{if (LastDogadjajVrstaID == 18) }}
                <a dogadjajid="${LastDogadjajID}" class="last-event modal newclient rounded"><i class="icon icon-newclient"></i></a> {{/if}} {{if (LastDogadjajVrstaID == 2) }}
                <a href="javascript:;" dogadjajid="${LastDogadjajID}" class="last-event modal dokument rounded" title="View this document in details"><i class="icon icon-invoice"></i></a> {{/if}} {{if (LastDogadjajVrstaID == 1) }}
                <a href="javascript:;" dogadjajid="${LastDogadjajID}" class="last-event modal form rounded" title="View this form in details"><i class="icon icon-forms"></i></a> {{/if}} {{if (LastDogadjajVrstaID == 16) }}
                <a href="javascript:;" dogadjajid="${LastDogadjajID}" class="last-event modal pricescan rounded" title="View this retail audit in details"><i class="icon icon-pricescan"></i></a> {{/if}} {{if (LastDogadjajVrstaID == 11) }}
                <a href="javascript:;" dogadjajid="${LastDogadjajID}" class="last-event modal photo rounded" title="View photo"><i class="icon icon-photos" dogadjajid="${LastDogadjajID}"></i></a> {{/if}} {{if (LastDogadjajVrstaID == 20) }}
                <a href="javascript:;" dogadjajid="${LastDogadjajID}" class="last-event modal salespipeline rounded" title="View details"><i class="icon icon-salespipeline"></i></a> {{/if}} {{if (LastDogadjajVrstaID == 21) }}
                <a href="javascript:;" dogadjajid="${LastDogadjajID}" class="last-event modal clientnote rounded" title="View details"><i class="icon icon-clientnotes"></i></a> {{/if}} {{if (LastPutnikID != null) }}
                <a href="Representative/View/${LastPutnikID}">${LastPutnikNaziv}</a>, ${LastDogadjajDatumVrijeme_LocalDate} ${LastDogadjajDatumVrijeme_LocalTime} {{else}} - {{/if}}
            </div>
        </td>
        <td class="active"><span class="active-icon ${Aktivan}"></span></td>
    </tr>
</script>
<script type="text/x-jquery-tmpl" id="tmpl-client-ranking">
    <tr>
        <td class="row-checkbox">
            <input type="checkbox" valueid="${KupacLokacijaID}" class="row-indicator" />
        </td>
        <td class="action-cell">
            <a class="action-detail action icon icon-details post-link" href="/client/view/${KupacLokacijaID}"></a>
        </td>
        <td><a class="table-link" href="/Client/view/${KupacLokacijaID}">${Naziv}</a></td>
        <td class="numeric">${UkObilazaka}</td>
        <td class="numeric">${UkAnketa}</td>
        <td class="numeric">${UkDatoteka}</td>
        <td class="numeric">${UkPoruka}</td>

        <td class="numeric">${UkDokumenata}</td>
        <td class="numeric">${UkAsortimanInfo}</td>
        <td class="numeric">${_UkOsnovicaFormatted}</td>
    </tr>
</script>
<script type="text/x-jquery-tmpl" id="tmpl-territoryClient-ranking">
    <tr>

        <td class="action-cell">
            <a class="action-detail action icon icon-details post-link" target="_blank" href="/Home/Index#bbq=${BbqLink}"></a>
        </td>
        <td>${Naziv}</td>
        <td class="numeric">${UkObilazaka}</td>
        <td class="numeric">${UkAnketa}</td>
        <td class="numeric">${UkDatoteka}</td>
        <td class="numeric">${UkPoruka}</td>

        <td class="numeric">${UkDokumenata}</td>
        <td class="numeric">${UkAsortimanInfo}</td>
        <td class="numeric">${_UkOsnovicaFormatted}</td>
    </tr>
</script>

</div>
<footer></footer>

<div id="autoResizeTextareaCopy" style="box-sizing: border-box; -moz-box-sizing: border-box;  -ms-box-sizing: border-box; -webkit-box-sizing: border-box; visibility: hidden;"></div>
</div>
